/* ==============================
   CSS RESET & VARIABLES
============================== */

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  font-family: "Manrope", system-ui, sans-serif;
  font-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==============================
   PAGE LAYOUT (MOBILE FIRST)
============================== */

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--dark-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

/* ==============================
   CARD
============================== */

.card {
  width: 100%;
  max-width: 343px;
  background-color: var(--dark-grayish-blue);

  padding: 2.25rem 1.5rem 3.75rem;
  border-radius: 12px;

  text-align: center;
  position: relative;
}

/* ==============================
   TEXT
============================== */

.advice-id {
  margin: 0 0 1.5rem;
  color: var(--neon-green);

  font-size: 16x;
  font-weight: 500;
  letter-spacing: 4px;
}

.advice-text {
  margin: 0 0 1.75rem;
  color: var(--light-cyan);

  font-size: 28px;
  line-height: 1.5;
}

/* ==============================
   DIVIDER (MOBILE DEFAULT)
============================== */

.divider {
  content: url("../assets/images/pattern-divider-mobile.svg");
  width: 100%;
}

/* ==============================
   DICE BUTTON
============================== */

.dice-button {
  width: 56px;
  height: 56px;

  background-color: var(--neon-green);
  padding: 0px;
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  bottom: -28px;
  transform: translateX(-50%);

  cursor: pointer;
}

.dice-button:focus {
  outline: none;
}

/* Hover effect only on devices that support hover */
@media (hover: hover) {
  .dice-button:hover {
    box-shadow: 0 0 30px var(--neon-green);
  }
}
.dice-button img {
  width: 24px;
  height: 24px;
}

/* ==============================
   DESKTOP CHANGES
============================== */

@media (min-width: 768px) {
  .card {
    max-width: 540px;
    padding: 3rem 3rem 4.5rem;
    border-radius: 15px;
  }

  .advice-text {
    font-size: 28px;
  }

  .divider {
    content: url("../assets/images/pattern-divider-desktop.svg");
  }
}
